---
http_interactions:
- request:
    method: post
    uri: http://mic-leads.dev-test.makeiteasy.com/api/v1/create?access_token=5bf520347a29d3e1a72898e01449120a&business_name=Some%20Business&contact_name=Joe%20Bloggs&email=y@me.com&name=Joe%20Bloggs&notes=My%20notes&pAccName=MicDevtest&pGUID=CFFBF53F-6D89-4B5B-8B36-67A97F18EDEB&pPartner=MicDevtest&reference=My%20reference&telephone_number=0203%20333%203333
    body:
      encoding: UTF-8
      string: '{"access_token":"5bf520347a29d3e1a72898e01449120a","pGUID":"CFFBF53F-6D89-4B5B-8B36-67A97F18EDEB","pAccName":"MicDevtest","pPartner":"MicDevtest","name":"Joe
        Bloggs","business_name":"Some Business","telephone_number":"0203 333 3333","email":"y@me.com","contact_name":"Joe
        Bloggs","notes":"My notes","reference":"My reference"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"a3647de73f830d5cb5c63d7ccddd62ec"
    body:
      encoding: UTF-8
      string: '{"message":"Enqueue success","errors":[]}'
  recorded_at: Wed, 07 Mar 2018 21:48:33 GMT
recorded_with: VCR 4.0.0
